* {
    font-family: 'BrushScriptMT', Tahoma, Verdana, sans-serif;
    background-color: rgb(105,105,105);
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #6a5376;
    border-radius: 30px;
    padding-bottom: 50px;
    width: 60%;
    margin: auto;
    margin-top:2%;
    box-shadow: 0px 2px 5px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    z-index: 100;
}

#upper-body {
    background-color: beige;
    z-index: 100;
}

#search-input {
    background-color: beige;
    z-index: 100;
}

#lower-body {
    background-color: beige;
    display: flex;
    z-index: 100;
}

.expandable {
    margin: 5px;
    width: 560px;
    height: 315px;
    box-shadow: 4px 7px;
    z-index: 100;
}

.song-info-expandable {
    text-align: center;
    z-index: 100;
}

#result-container, #save-container {
    box-shadow: 0px 2px 5px;
    border-radius: 15px;
    background-color: white;
    width: 500px;
    height: auto;
    max-height: 700px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

#logo-1 {
    background-color: beige;
    align-self: flex-start;
    width: 100px;
    height: 100px;
}

#header {
    background-color: beige;
    display: flex;
    z-index: 100;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.thumbnail {
    width: 75px;
    height: 75px;
}

ul {
    background-color: white;
    width: 400px;
    height: auto;
    max-height: 700px;
    font-size: x-large;
    align-self: flex-start;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 100;
}

li {
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

li:hover {
    box-shadow: 0px 2px 11px rgba(33,33,33,.2);
    text-shadow: none;
    transition: ease-in-out 0.3s;
}

.search-result, .favorite-song {
    border: 3px solid #DED6DA;
    border-radius: 10px;
    font-size: medium;
    width: 300px;
    list-style: none;
    margin: 10px;
    text-align: left;
    padding: 7px;
}

li .button-container {
    align-self: flex-end;
}

#header h1 {
    background-color: beige;
}

h1 {
    color: black;
    background-color: white;
}

/* Form input styling (text to animate out and form styling) */
input[type=text] {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f7f6f6;
    padding: 12px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 1px 3px;
    margin-bottom: 10px;
    margin-top: 0px;
    outline: none;
}

input {
    font: 1em/1.25em Arial, Helvetica, sans-serif;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #A9A9A9;
    transition: color 0.3s ease;
}

/* button styling (hover effect and color styling) */
#main-btn {
  background: #94a572;
  color: white;
  border-style: outset;
  border-color: #94a572;
  border-radius: 10px;
  height: 45px;
  width: 100px;
  font: bold 15px arial,sans-serif;
  text-shadow: none;
}

#main-btn,
input[type=submit] {
    font: 1em/1.25em Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#main-btn:hover {
    background-color: #b7c39e;
    border-color: #b7c39e;
    transition: 0.4s;
}

#edit-submit {
  background: #94a572;
  color: white;
  border-style: outset;
  border-color: #94a572;
  border-radius: 10px;
  height: 45px;
  width: 100px;
  font: bold 15px arial,sans-serif;
  text-shadow: none;
}

#edit-submit,
input[type=submit] {
  font: 1em/1.25em Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#edit-submit:hover {
    background: #b7c39e;
    border-color: #b7c39e;
    transition: 0.4s;
}

.li-button {
    background: #94a572;
  color: white;
  border-style: outset;
  border-color: #94a572;
  border-radius: 15px;
  height: 25px;
  width: 50px;
  font: 10px arial,sans-serif;
  text-shadow: none;
}

.rain-container {
    position: absolute;
    background: #000;
    top: 0px;
    width: 100vw;
    overflow: hidden;
    z-index: -100;
}

i {
position: absolute;
height: 120px;
border-radius: 0 0 999px 999px;
animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-120px);
    }
    100% {
        transform: translateY(calc(100vh + 120px));
    }
}